@{
    ViewData["Title"] = "Home Page";
}


<div style="width: 550px; padding-left: 9rem;">
    <input class="form-control mt-2" type="text" id="display" name="infix" placeholder="Input Your Expression" readonly value="" />
    
    <div id="error" class="text-danger text-sm-center mt-1"></div>
</div>

@{
    List<List<char>> structure = [
        ['1', '2', '3', '+', '/'],
        ['4', '5', '6', '-', '('],
        ['7', '8', '9', '*', ')']
    ];
}

<div class="d-flex justify-content-center align-items-center btn-group-vertical mt-2">
    @for(int i = 0; i < structure.Count; i++)
    {
        <div>
            @foreach(char num in structure[i])
            {
                <button type="button"
                        class="btn m-1 btn-light" style="width: 75px"
                        onclick="addNumber('@num')">
                    @num
                </button>
            }
        </div>
    }
    <div>
        <button type="button"
                class="btn m-1 btn-danger" style="width: 75px"
                onclick="clearDisplay()">
            CE
        </button>
        <button type="button"
                class="btn m-1 btn-light" style="width: 75px"
                onclick="addNumber('0')">
            0
        </button>
        <button type="button"
                class="btn m-1 btn-light" style="width: 75px"
                onclick="addNumber('.')">
            .
        </button>
        <button type="button" id="equal"
                class="btn m-1 btn-primary" style="width: 75px"
                >
            =
        </button>
        <button type="button"
                class="btn m-1 btn-dark" style="width: 75px"
                onclick="backspace()">
            C
        </button>
    </div>
    
</div>

@section Scripts {

    @* <script>

        const input = document.getElementById("display");
        const errorDiv = document.getElementById("error");
        const form = document.getElementById("CalcForm");

        form.addEventListener("submit", function (e) {
            e.preventDefault();

            errorDiv.innerText = "";

            fetch("@Url.Action("Index")", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(input.value)
            })
            .then(res => res.json())
            .then(data => {
                if(data.success){
                    input.value = data.result;
                }else{
                    errorDiv.innerText = data.error;
                }
            })
            .catch(() => {
                errorDiv.innerText = "Unexpected error. Try again.";
            });
        });

    </script> *@

    <script>

        const input = document.getElementById("display");
        const errorDiv = document.getElementById("error");
        const form = document.getElementById("CalcForm");

        // input.on("click")
        // $('.')
        // $('#').value()

        $('#equal').on("click", function (e) {
            e.preventDefault();

            errorDiv.innerText = "";

            $.ajax({
                url: "@Url.Action("Index")",
                type: "POST",
                data: JSON.stringify(input.value),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if(response.success){
                        input.value = response.result;
                    }else{
                        errorDiv.innerText = response.error;
                    }

                },
                error: function(xhr) {
                    errorDiv.innerText = xhr.responseText || "Unexpected Error";
                }
            });

        });

    </script>

    <script>
        function addNumber(num) {
            const input = document.getElementById("display");
            input.value += num;      // append the number to the input value
        }

        function backspace() {
            const input = document.getElementById("display");
            input.value = input.value.slice(0, -1);
        }

        function clearDisplay() {
            document.getElementById("display").value = "";
        }
    </script>
}
